/CV19Service/nbproject/private/
/CV19Service/build/
/CV19Services/nbproject/private/
/CV19Services/build/
/webs/nbproject/private/
/webs/build/
/cv19service/nbproject/private/
/cv19service/build/
/cv19client/nbproject/private/
/cv19client/build/
/WebApplication1/nbproject/private/
/cv19service8/build/
/cv19service8/nbproject/private/
/RestToSoapService8/nbproject/private/
/Cv19RestToSoapService8/nbproject/private/
/Cv19RestToSoapService8/build/
/Cv19RestToSoapService7/nbproject/private/
/Cv19RestToSoapService7/build/
/Cv19service8fromSoap/nbproject/private/
/Cv19service8fromSoap/build/
/Cv19RestToSoapService/nbproject/private/
/Cv19RestToSoapService/build/
/Cv19SoapTest/nbproject/private/
/Cv19SoapTest/build/
/testUTF8/nbproject/private/
/testUTF8/build/
/Cv19SoapClientApplication/nbproject/private/
/Cv19SoapClientWeb/nbproject/private/
/Cv19SoapClientApplication/build/
/Cv19SoapClientTerminal/nbproject/private/
/Cv19SoapClientTerminal/build/
/Cv19SoapClientWeb/build/
