/CV19Service/nbproject/private/
/CV19Service/build/
/CV19Services/nbproject/private/
/CV19Services/build/
/webs/nbproject/private/
/webs/build/
/cv19service/nbproject/private/
/cv19service/build/
/cv19client/nbproject/private/
/cv19client/build/
